* {
    box-sizing: border-box;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

header {
    background-color: #5f5f5f;
}

.logo {
    background-color: #5f5f5f;
    height: 65px;
    font-size: 30px;
    line-height: 65px;
    color: #fff;
    text-align: center;
}

h1 {
    text-align: center;
}

#id_suche {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 10px 10px 10px;
    width: 22%;
}

#id_suche input[type=text] {
    padding: 12px 20px 12px 40px;
    width: 197px;
    border: 2px solid #ccc;
    font-size: 16px;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    background-image: url('../img/search.png');
    background-size: 22px;
    background-position: 10px 11px;
    background-repeat: no-repeat;
}

#id_suche input[type=text]:focus {
    border: 2px solid #0c99ff;
}

#id_create_flightplan {
    background-color: #007bff;
    color: white;
    border: none;
    /*box-shadow: 3px 5px 6px #ccc;*/
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width: 99%;
    cursor: pointer;
    transition: 0.1s;
}

#id_create_flightplan:hover {
    background-color: #0069d9;
}

#id_create_flightplan:active {
    background-color: #0069d9;
    box-shadow: 0 0 0 2pt #00acff;
}

#id_calculator_iframe {
    margin-top: 25px;
    border: none;
    width: 100%;

}

#id_flugplan {
    float: left;
    width: 77%;
    background-color: #ffffff;
    margin-top: 1%;
    padding: 0px 20px 20px 20px;
}

#id_form_plan {
    border-style: solid;
    border-radius: 10px;
    background-color: #f5f5f5;
}

#id_flugplan input[type=text] {
    border: 2px solid #ccc;
    margin-right: 10px;
    border-radius: 3px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;

}

#id_flugplan input[type=text]:focus {
    border: 2px solid #0c99ff;
}

#id_flugplan textarea {
    width: 30%;
    transition: height 0.4s;
    height: 23px;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    border: 2px solid #ccc;
}

#id_flugplan textarea:focus {
    height: 150px;
    border: 2px solid #0c99ff;
}

#id_form_plan fieldset {
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid #666;
    border-radius: 8px;
    background-color: #fff;
}
#id_flugplan_drucken {
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    width: 10%;
    cursor: pointer;
    transition: 0.1s;
}

#id_flugplan_drucken:hover {
    background-color: #0069d9;
}

#id_flugplan_drucken:active {
    background-color: #0069d9;
    box-shadow: 0 0 0 2pt #00acff;
}

#id_fieldset_beforeflight_legend {

}

/* Departure Airport section */
#id_dep_apt_head {
    background-color: #9c9c9c;
    color: white;
    padding: 0.5%;
}

/*Erste Planzeile:*/
#id_dep_apt {
    width: 9%;
}
#id_arr_apt {
    width: 9%;
}
#id_altn_apt {
    width: 9%;
}

#id_calllsign {
    width: 5%;
}

/*zweite Planzeile: */
#id_stand {
    width: 5%;
}

#id_act_rwys {
    width: 6%;
}

#id_ta {
    width: 5%;
}

#id_cruise_fl {
    width: 5%;
}

#id_atis_info_dep {
    width: 5%;
}

#id_qnh_dep {
    width: 5%;
}

#id_temp_dep {
    width: 5%;
}

#id_enroute_time {
    width: 5%;
}

#id_pax {
    width: 5%;
}

#id_cargo {
    width: 7%;
}


#id_input_date {

}
#id_atis_freq_dep{
    width: 11%;
}

#id_delivery_freq{
    width: 11%;
}

#id_gnd_1_freq_dep{
    width: 11%;
}

#id_gnd_2_freq_dep{
    width: 11%;
}

#id_twr_freq_dep{
    width: 11%;
}

/*Takeoff section*/
#id_takeoff_time {
    width: 5%;
}

#id_dep_freq {
    width: 11%;
}
#id_rdr_1_freq{
    width: 11%;
}
#id_rdr_2_freq{
    width: 11%;
}
#id_rdr_3_freq{
    width: 11%;
}
#id_rdr_4_freq{
    width: 11%;
}

/*Descending section*/

#id_app_freq_arr {
    width: 14%;
}